<div class="container">
    <div class="row" style="margin:200px 0">
        <div class="col">
            <form action="/admin/login" method="post">
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Usuario" name="usuario">
                </div>
                <div class="mb-3 row">
                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
            </form>
            {{#if error}}
            <p>Usuario y/o contraseña incorrectos</p>
            {{/if}}
        </div>
    </div>
</div>


